p {
  font-family: Lato;
}

table {
  border: 1px solid lightgray;
  padding: 3px;
}

td {
  border: 1px solid lightgray;
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}